.nav-menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease, visibility 300ms ease;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  overflow: scroll;
}

.nav-menu.open {
  visibility: visible;
  opacity: 1;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 3rem;
}

.nav-menu ul li {
  padding: 1rem;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  cursor: pointer;
}

.nav-menu ul li:hover {
  box-shadow: 1px 1px 10px 3px rgba(150, 150, 150, 0.2);
}

@media only screen and (min-width: 650px) {
  .nav-menu ul {
    max-width: 30rem;
  }
}
