/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555555;
  /* background-color: #efefef; */
  font-family: "Halant", Arial, Helvetica, sans-serif;
  font-size: 13pt;
}

h1,
h2 {
  font-family: "Parisienne", cursive;
}
